@font-face {
	font-family: MaisonNeueWEB-Book;
	src: url("../fonts/MaisonNeueWEB-Book.woff");
}

@font-face {
	font-family: MaisonNeueWEB-Light;
	src: url("../fonts/MaisonNeueWEB-Light.woff");
}

/* Typography
-------------------------------------------------- */

a {
	color: #000;
	text-decoration: underline;
	transition: color .2s;
}

a:hover {
	color: #6e6e6e;
}

.faketextlink {
	color: black;
}

.faketextlink:hover {
	color: #6e6e6e;
	cursor: pointer;
}

a.underline {
    text-decoration: underline !important;
}

body {
	position: relative;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-family: "MaisonNeueWEB-Book";
	font-weight: 100;
	font-size: 0.9375em;
	line-height: 1.39999999em;
	color: #6e6e6e;
}

body.active {
	position: fixed;
    overflow-y: scroll;
    width: 100%;
}

p:first-of-type {
	margin-top: 0px;
}

p:last-of-type {
	margin-bottom: 0px;
}

p:only-child {
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	color: #6e6e6e;
	margin: 1.4285714em 0em 1.4285714em 0em;

}

small {
	color: #6e6e6e;
	font-size: 0.9375em;
	text-transform: uppercase;
	margin: 0;
}

strong, b {
	color: black;
}

em, i {
	font-weight: 100;
}

h1 {
	font-family: "MaisonNeueWEB-Light";
	font-weight: 100;
	color: black;
	font-size: 2.933333em;
	line-height: 1.2em;
	margin: 0px 0px 30px 0px;
}

h2 {
	font-family: "MaisonNeueWEB-Light";
	font-weight: 100;
	color: black;
	font-size: 1.785714em;
	line-height: 1.24em;
	margin: 0;
}

h3 {
	font-weight: 100;
	color: black;
	font-size: 1em;
	line-height: 1.42857142856em;
	margin: 0;
}

h4 {
	font-weight: 100;
	color: #6e6e6e;
	font-size: 1em;
	line-height: 1.42857142856em;
	margin: 0;
}

/* Site
-------------------------------------------------- */

html, body {
	height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.container {
	padding-top: 90px;
}

.noFooter {
	padding-bottom: 90px;
}

hr {
	border: none;
	border-top: 1px solid #e6e6e6;
	margin: 25px 0px 30px 0px;
}

.opener {
	margin-top: 60px;
}

.pageDetails, .pageDetails p {
	margin: 0;
	padding: 0;
}

.pageDetails li {
	display: block;
	margin: 15px 0px 15px 0px
}

.pageDetails li:first-of-type {
	margin-top: 0;
}

.pageDetails li:last-of-type {
	margin-bottom: 0;
}

.pageDetails a {
	color: #6e6e6e;
}

.pageDetails a:hover {
	color: black;
}

/* Home
-------------------------------------------------- */

#home {
	height: 100%;
	width: 100%;
}

#home .textPanel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#home .textPanel .mainHeadline {
	position: absolute;
    -webkit-transition: opacity .45s;
    transition: opacity .45s;
	height: 100%;
	width: 100%;
	display: table;
}

#home .textPanel .mainHeadline h2 {
	max-width: 800px;
}

#home .textPanel .mainHeadline.deactive {
	opacity: 0;
}

#home .textPanel .itemHeadline {
	position: absolute;
	opacity: 0;
    -webkit-transition: opacity .45s;
    transition: opacity .45s;
	height: 100%;
	width: 100%;
	display: table;
	transform: translateZ(0);
}

#home .textPanel .itemHeadline.active {
	opacity: 1;
}


#home .textHeadline {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#home .textHeadline h2 {
	padding-left: 90px;
	padding-right: 90px;
	width: 50%;
}

#home .textHeadline .subhead {
	opacity: .43;
}

#home .itemBackground {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#home .imageGridPanel {
	position: fixed;
	left:50%;
	height: 100%;
	width: 50%;
}

#home .imageGridTable {
	width: 100%;
	height: 100%;
	padding: 7.5px;
}

#home .imageGridRow {
	float: left;
	width: 100%;
	height: 50%;
}

.imageGridColumn-lg, .imageGridColumn-sm {
	height: 100%;
	float: left;
}

.imageGridColumn-lg {
	width: 66.66666%;
}

.imageGridColumn-sm {
	width: 33.33333%;
}

.imageGridItem-lg, .imageGridItem-sm {
	float: left;
	padding: 7.5px;
}

#home .imageGridItem-lg {
	width: 100%;
	height: 100%;
}

#home .imageGridItem-sm {
	width: 100%;
	height: 50%;
}

#home .imageGridImage {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home .imageGridItem a {
	display: block;
	width: 100%;
	height: 100%;
}

#home .imageGridItem {
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0.75;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#home .imageGridItem:hover {
    opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}


#home .imageGridItem.deactive {
	opacity: .35;
}

#home .logo {
	z-index: 1;
	position: fixed;
	top: 90px;
	left: 90px;
}

#home .creditInfo {
	font-size: 0.65em;
	line-height: 1.45em;
	bottom: 36px;
	left: 90px;
	position: fixed;
}

#home .creditInfo a {
	color: #6e6e6e;
}

/* Navigation
-------------------------------------------------- */

.topright {
	position: fixed;
	top:0; right:0;
}

nav {
	transition: opacity .35s;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	margin: 0 auto;
	background: #e6e6e6;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
}

nav p {
	margin: 0;
}

nav.active {
	opacity: 1;
	pointer-events: auto;
}

.nav-bar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-bar.mobile {
	position: fixed;
	width: 100%;
	z-index: 4;
}


.col-left, .col-right {
	width: 90px;

}

.col-left {
	float: left;
	padding: 30px 0px 0px 30px;
}

.nav-bar .close {
	display: none;
}

.nav-bar.active {
	z-index: 4;
}

.nav-bar.active .close {
	display: block;
}

.nav-bar.active .projectsIcon {
	display: none;
}

.nav-bar.active .hamburger {
	display: none;
}


.col-right {
	float: right;
	padding: 31px 0px 0px 33px;
}

.navIcon svg:hover {
	cursor: pointer;
	fill: #6e6e6e;
}

nav .logo, {
	width: 95px;
	height: auto;
}

.logo svg {
	fill: black;
	width: 95px;
	height: 41px;
}

nav .logo:hover svg {
	fill: #6e6e6e;
}

.menu {
	padding: 24px 0px 0px 0px;
	margin: 0;
}

.menu a h1 {
	transition: color .2s;
	color: #6e6e6e;
}

.menu h1 {
	margin-top: 13px;
	margin-bottom: 7px;
}

.menu {

}

.menu a {
	border-top: 1px solid white;
	display: block;
	list-style-type: none;
}

.menu a:last-child {
	border-bottom: 1px solid white;
}

.menu a:hover h1 {
	color: black;
}

.menu .active {
	border-top: 1px solid black;
	cursor: default;
}

.menu .active + a {
	border-top: 1px solid black;
}

.menu a:last-child.active {
	border-bottom: 1px solid black;
}


.menu .active h1 {
	color: black;
}

.footer {
	padding-top: 0px;
	padding-bottom: 36px;
	position: fixed;
	bottom: 0px;
	width: 100%;
    transition: padding-bottom .2s;
}

nav .footer.active {
	padding-bottom: 186px;
}

nav .subfooter {
	padding-top: 36px;
	padding-bottom: 36px;
	position: fixed;
	bottom: -150px;
	width: 100%;
	background: #6e6e6e;
    transition: bottom .2s;
}

nav .subfooter.active {
	bottom: 0;
}

.emailsignup {
	padding-right: 58px;
}

.subfooter .close {
	position: absolute;
	cursor: pointer;
	fill: #e6e6e6;
	right: 15px;
	bottom: 22px;
}


.field {
	-webkit-font-smoothing: antialiased;
	color: #e6e6e6;
	font-size: 1.5625em;
	font-weight: 100;
	line-height: 1.5em;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #e6e6e6 1px;
	border-radius: 0;
	padding-bottom: 0px;
	margin: 0;
	padding-left: 0;
	padding-right: 0px;
	width: 100%;
}

.field:focus {
	outline: 0;
}

.button {
	-webkit-font-smoothing: antialiased;
	color: #e6e6e6;
	font-size: 1.5625em;
	font-weight: 100;
	line-height: 1.25em;
	background: none;
	border: 0;
	margin: 0;
	padding: 8px 0px 0px 0px;
}

.button:hover {
	color: black;
	cursor: pointer;
}



/* Projects
-------------------------------------------------- */
#projects {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0);
}


#projects .projectList {
	width: 50vw;
	height:100%;
	margin: 0 auto;
	position: fixed;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	-webkit-overflow-scrolling: touch;
	padding-top: 90px;
	padding-left: 90px;
	padding-right: 30px;
}

#projects .projectImages {
	left: 50vw;
	width: 50%;
	height:100%;
	margin: 0 auto;
	position: fixed;
/* 	background: #e6e6e6; */
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 7.5px;
}

#projects .projectList::-webkit-scrollbar {
    display: none;
}

#projects #projectTable {
	margin-bottom: 90px;
}

#projects .projectImages img {
	-webkit-transform: translate3d(0,0,0);
	padding: 7.5px;
	display: block;
	width:100%;
	height:auto;
}

#projects #projectImageList {
	padding: 0;
	margin: 0;
}

#projects #projectImageList li {
	display: block;
}

#projects table {
	-webkit-transform: translate3d(0,0,0);
	width: 100%;
}

#projects th {
	text-align: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#projects th:hover .arrow {
	opacity: 1;
}

#projects td {
	border-top: 1px solid #e6e6e6;
}

#projects tr:last-of-type {
	border-bottom: 1px solid #e6e6e6;
}


#projects th, td {
	padding: 11px 10px 8px 0px
}

#projects .active p {
	color: black;
}

#projects tr {
	cursor: pointer;
}

#projects .active td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#projects th h3, td p {
	margin: 0px;
}

#projects .arrow {
	opacity: 0;
}

#projects .arrow.active {
	opacity: 1;
}

#project-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	background: white;
	display: none;
}

#project-container.active {
	display: block;
}

#project-container-close {
	position: fixed;
	width: 100%;
	height: 1px;
	z-index: 100;
}


/* Project
-------------------------------------------------- */

#project .projectImage {
/* 	margin: 30px 0px 15px 0px */
}

.projectImages > div {
	margin: 15px 0px 15px 0px;
}

#project .caption {
	display: inline-block;
	padding-top: 15px;
}

.image-container {
	background: #f2f2f2;
	overflow: hidden;
}


.projectTextContainer {
	display: table;
	padding-top: 50px;
	padding-bottom: 20px;
}

div.col-sm-3.col-xs-6.projectTextBlock {
	display: table-cell;
	vertical-align: bottom;
	float: none;
}


/* ========== */

.footerNav.projectFooter .projectThumbnail {
	position: absolute;
	overflow: hidden;
	height: 110px;
	width:196px;
}

.footerNav.projectFooter .projectThumbnail img {
	height: 110px;
	width: auto;
}

/* ========== */

.projectFooter .next .projectThumbnail {
	right: 0;
}

.projectFooter .next .projectThumbnail img {
	margin-right: -196px;
    transition: margin-right .2s;
}

.projectFooter .next:hover .projectThumbnail img{
	margin-right: 0px;
}

.footerNav.projectFooter .next {
	overflow: hidden;
    transition: padding-right .2s;
}

.projectFooter .next:hover {
	padding-right: 196px;
}

/* ========== */

.projectFooter .prev .projectThumbnail {
	left: 0;
}

.projectFooter .prev .projectThumbnail img {
	margin-left: -196px;
    transition: margin-left .2s;
}

.projectFooter .prev:hover .projectThumbnail img {
	margin-left: 0px;
}

.footerNav.projectFooter .prev {
    transition: padding-left .2s;
}

.projectFooter .prev:hover {
	padding-left: 196px;
}


/* Footer
-------------------------------------------------- */


.footerNav {
	width: 100%;
	height: 110px;
	background: #e6e6e6;
}

/* ========== */

.footerNav .prev {
	float: left;
	text-align: left;
}

.footerNav .next {
	float: right;
	text-align: right;
}

.footerNav .next, .footerNav .prev {
	width: 50%;
	height: 110px;
    transition: background .2s;
}

.prev div {
	float: left;
	display: block;
}

.next div {
	float: right;
	display: block;
}

/* ========== */

.footerNav p,
.footerNav h3,
.footerNav h4 {
	margin: 0;
    transition: color .2s;
}

.footerNav p {
/* 	color: black;	 */
}

.footerNav .textBlock {
	width: auto;
	height: 110px;
}

.footerNav .textBlock:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.footerNav .text {
	float: none;
	display: inline-block;
	vertical-align: middle;
}


/* ========== */

.footerNav.blogFooter .prev:hover h4,
.footerNav.blogFooter .next:hover h4,
.footerNav.blogFooter .prev:hover p,
.footerNav.blogFooter .next:hover p  {
	color: white;
}

.footerNav.blogFooter .prev:hover,
.footerNav.blogFooter .next:hover {
	background: #6e6e6e;
}

.footerNav.blogFooter .prev:hover .arrow svg,
.footerNav.blogFooter .next:hover .arrow svg {
	fill: white;
}


/* ========== */

.footerNav .arrow {
	width: 90px;
	height: 110px;
	position: relative;
}

.footerNav .arrow svg {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    fill: #6e6e6e;
    transition: fill .2s;
}

.footerNav .next .arrow svg {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

/* ========== */

.subFooterNav {
	text-align: right;
	width: 100%;
}

.subFooterNav .backToTop {
	text-align: center;
	display: inline-block;
	width: 90px;
	padding: 10px 0px 30px 0px;
	cursor: pointer;
}

.subFooterNav .backToTop:hover svg {
	fill: black;
}

.subFooterNav .backToTop svg {
	fill: #6e6e6e;
}

.creditContainer {
	margin-right: 180px;
	padding-left: 100%;
	text-align: right;
}

.credit {
	text-align: left;
	width: 0px;
	height: 0px;
	display: block;
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.credit p {
	position: absolute;
	text-align: left;
	display: block;
	left: 38px;
	bottom: 32px;
	width: 500px;
}




/* Process + Culture
-------------------------------------------------- */

.processPost img {
	cursor: pointer;
}

.processPost h2 {
	margin-top: 15px;
}

.fullpost {
	margin: 15px 0px 15px 0px;
	height: 5.71428571428em;
	overflow: hidden;
}

.processPost.expanded .fullpost {
	height: 100%;
	cursor: auto;
}

.processPost.active .readmore .faketextlink {
	color: #6e6e6e;
}

.pagesubnavContainer {
	left: 0px;
	width: 100%;
	padding-right: 75px;
	position: absolute;
}

.pagesubnav {
	float: right;
}

.pagesubnav ul {
	margin: 0;
	padding: 0;
}

.pagesubnav li {
	display: block;
}

.pagesubnav a {
	padding: 11px 0px 8px 0px;
	border-top: 1px solid #e6e6e6;
	display: block;
}

.pagesubnav a:last-child {
	border-bottom: 1px solid #e6e6e6;
}

.pagesubnav a.active {
	border-top: 1px solid black;
}

.pagesubnav a.active + a {
	border-top: 1px solid black;
}

.pagesubnav a.active:last-child {
	border-bottom: 1px solid black;
}

.pagesubnav a.active li {
	color: black;
}

.pagesubnav li {
	color: #6e6e6e;
}

.pagesubnav li:hover {
	color: black;
}

.processPost .textblock {
	position: absolute;
	padding: 15px 0px 0px 15px;
    transition: opacity .2s;
	opacity: 0;
}

.processPost .image-container:hover .textblock {
	opacity: 1;
}

.processPost.expanded .readmore .faketextlink {
	color: black;
}

.readmore .close {
	display: none;
}

.processPost.expanded .readmore .close {
	display: inline;
}

.readmore .open {
	display: inline;
}

.processPost.expanded .readmore .open {
	display: none;
}

.socialFooter {
	margin-bottom: 60px;
}

#process-post {
	min-height: 100%;
	margin: 0 auto -110px;
}

#process-post h1 {
	margin-top: 15px;
	margin-bottom: 0px;
}

#process-post small {
	display: inline-block;
	margin-bottom: 15px;
}

#process-post .socialFooter {
	margin-top: 30px;
	margin-bottom: 155px;
}

.recentPosts {
	margin: 8px 0px 12px 0px;
	padding: 0 ;
}

.recentPosts li {
	border-top: 1px solid #e6e6e6;
	display: block;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

.recentPosts li:last-of-type {
	border-bottom: 1px solid #e6e6e6;
}


/* Accolades
-------------------------------------------------- */

#accolades .opener {
	margin-bottom: 30px;
}

.accoladeBackground {
	background: #f2f2f2;
}

.accoladeBackground h2 {
	color: black;
}

.accoladeBackground .textblock {
	position: absolute;
	padding: 15px 0px 0px 15px;
    transition: opacity .2s;
	opacity: 0;
}


#accolades a:hover .accoladeBackground .textblock {
	opacity: 1;
}

#accolades img {
    transition: opacity .2s;
}

#accolades .featured img {
	margin-bottom: 15px;
}

#accolades .featured > div {
	margin-bottom: 30px;
}

#accolades a:hover img{
	opacity: 0;
}

#accolades .lists hr {
	margin-top: 0;
}

#accolades .lists h2 {
	margin-bottom: 15px;
}

#accolades .lists li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#accolades ul {
	margin: 0;
	padding: 0;
}

#accolades li {
	display: block;
}

#accolades li:hover h4{
	color: black;
}

#accolades h3, #accolades h4 {
	display: inline;
}

/* Studio
-------------------------------------------------- */

.thepartners {
	padding-top: 0px;
}

.bio {
	margin-top: 15px;
	margin-bottom: 45px;
}

.bio small {
	display: inline-block;
	margin-bottom: 15px;
}

#studio td {
	padding: 0;
}

#studio .cell-column {
	padding: 0px 15px 0px 15px;
	width: 50%;
}

#studio .socialFooter {
	margin-bottom: 0px;
}

#studio .opener h2 {
	padding-bottom: 15px;
}

.paragraph-spacing p {
	padding: 7px 0px 7px 0px;
}

.paragraph-spacing p:first-of-type {
	padding-top: 0px;
}

.paragraph-spacing p:last-of-type {
	padding-bottom: 0px;
}

.align-top {
	vertical-align: top;
}

.align-bottom {
	vertical-align: bottom;
}

.align-bottom h4 {
	padding-top: 45px;
}

@media (orientation: portrait) {


	#home .textPanel {
		position: relative;
		height: 27%;
	}

/*
	#home .itemHeadline {
		display: none;
	}
*/

	#home .textHeadline {
		vertical-align: bottom;
		padding-bottom: 15px;
	}

	#home .textHeadline h2 {
		padding-left: 90px;
		padding-right: 90px;
		width: 100%;
	}


	#home .imageGridPanel {
		position: relative;
		left: 0;
		top: 0;
		height: 31%;
		width: 100%;
		padding-left: 75px;
		padding-right: 75px;
	}

	#home .imageGridRow {
		height:100%;
	}

	#home .logo {
		position: relative;
		top: 90px;
		left: 0px;
		padding-left: 90px;
		transform: translateZ(0);
	}

	#home .creditInfo {
		display: inline-block;
		width: 100%;
		bottom: auto;
		left: 0px;
		position: relative;
		padding-left: 90px;
		padding-bottom: 0px;
	}

	#home .creditInfo a {
		color: #6e6e6e;
	}

	#home .textPanel .mainHeadline.deactive {
	opacity: 0;
	}

	#home .textPanel .itemHeadline.active {
		opacity: 1;
	}


}

@media (max-width: 1024px) {
	#projects .projectList {
		width: 66.66666%;
	}

	.pagesubnav {
		width: intrinsic;
	}

	#projects .projectImages {
		left: 66.66666%;
		width: 33.33333%;
	}

	#accolades .lists div:nth-child(2) hr {
		margin-top: 30px;
	}

}

@media (max-width: 1023px) {



	#studio .align-bottom h4 {
		padding-top: 30px;
	}

	#studio .image-container {
		margin-top: 30px;
	}

	#studio td.cell-column {
		width: 100%;
		display: block;
	}

	.processPost {
		width: 100%;
	}

	.hidden-tablet {
		display: none;
	}
}

@media (max-width: 767px) {

	body {
		font-size: 0.8em;
	}

	h1 {
		font-size: 2em;
		margin-bottom: 15px;
	}

	h2 {
		font-size: 1.4166em;
	}

	#home .textPanel {
		height:35%;
	}

	#home .textHeadline h2 {
		padding-left: 20px;
		padding-right: 20px;
	}

	#home .imageGridPanel {
		padding-left: 10px;
		padding-right: 10px;
	}

	#home .textHeadline {
		padding-bottom: 0px;
	}

	#home .creditInfo {
		padding-left: 20px;
		padding-bottom: 15px;
	}

	.imageGridItem-lg, .imageGridItem-sm {
		padding: 3px;
	}


	/* Site
	-------------------------------------------------- */

	.container {
		padding-top: 55px;
	}

	main h1:first-of-type {
		padding-top: 10px;
	}

	.noFooter {
		padding-bottom: 45px;
	}

	hr {
		margin: 30px 0px 20px 0px;
	}

	.opener {
		margin-top: 15px;
	}

	.pageDetails, .pageDetails p {
		margin: 0;
		padding: 0;
	}

	.pageDetails li {
		margin: 10px 0px 10px 0px
	}

	/* Navigation
	-------------------------------------------------- */

	.nav-bar.mobile {
		height: 55px;
		background: white;
	}

	.nav-bar.mobile.active {
		background: #e6e6e6;
		transition: background .35s;
	}

	.nav-bar.mobile .logo svg {
		width: 60px;
		height: auto;
	}

	.nav-bar.mobile .col-left {
		padding: 16px 0px 0px 21px;
	}

	.nav-bar.mobile .col-right svg {
		width: 21px;
	}

	.nav-bar.mobile .col-right .close svg {
		margin-top: 2px;
		margin-right: 1px;
		width: 18px;
		height: auto;
	}

	.nav-bar.mobile .col-right {
		width: 40px;
		padding: 11px 20px 0px 0px;
	}


	.menu {
		padding: 0px 0px 0px 0px;
	}

	.menu h1 {
		margin-top: 9px;
		margin-bottom: 7px;
	}

	.menu a {
		border-top: 1px solid white;
		display: block;
		list-style-type: none;
	}

	.footer {
		padding-bottom: 20px;
	}

	/* Accolades
	-------------------------------------------------- */
	#accolades .lists div:nth-child(2) hr {
		margin-top: 30px;
	}

	#accolades .lists hr {
		margin-bottom: 15px;
	}


	/* Studio
	-------------------------------------------------- */

	.partnerimage {
		margin-bottom: 15px;
	}

	.bio {
		margin-top: 7px;
		margin-bottom: 7px;
	}

	.bio small {
		display: inline-block;
		margin-bottom: 5px;
	}

	#studio td.cell-column {
		width: 100%;
		display: block;
	}

	#studio td.cell-column:first-of-type h4 {
		padding-top: 20px;
	}

	#studio .image-container {
		margin-top: 20px;
	}

	/* Process + Culture
	-------------------------------------------------- */

	.processPost h2 {
		margin-top: 15px;
	}

	.fullpost {
		margin: 15px 0px 15px 0px;
		height: 5.4em;
	}

	.pagesubnavContainer {
		left: inherit;
		width: 100%;
		padding-top: 18px;
		padding-right: inherit;
		position: relative;
	}

	.pagesubnav {
		padding-top: 18px;
		padding-bottom: 20px;
		float: left;
		width: 100%;
	}

	.socialFooter {
		margin-bottom: 30px;
	}

	#process .row:nth-child(3) .processPost:first-of-type hr {
		display: none;
	}

	#process-post {
		min-height: 100%;
		margin: 0 auto -80px;
	}

	#process-post h1 {
		margin-top: 15px;
		margin-bottom: 0px;
	}

	#process-post small {
		display: inline-block;
		margin-bottom: 15px;
	}

	#process-post .socialFooter {
		margin-top: 0px;
		margin-bottom: 105px;
	}

	.recentPosts {
		margin: 8px 0px 12px 0px;
		padding: 0 ;
	}

	.recentPosts li {
		border-top: 1px solid #e6e6e6;
		display: block;
		padding: 10px 0px 10px 0px;
		margin: 0px;
	}

	.recentPosts li:last-of-type {
		border-bottom: 1px solid #e6e6e6;
	}

	/* Projects
	-------------------------------------------------- */
	#projects {
		position: relative;
		width: 100%;
		height: auto;
	}

	#projects .projectList {
		width: 80%;
		padding-top: 55px;
		padding-left: 20px;
		padding-right: 30px;
	}

	#projects .projectList::-webkit-scrollbar {
	    display: none;
	}

	#projects #projectTable {
		margin-bottom: 90px;
	}

	#projects .projectImages {
		left: inherit;
		width: inherit;
		height: inherit;
		margin: inherit;
		position: inherit;
		background: inherit;
		overflow-y: inherit;
		-webkit-overflow-scrolling: touch;
		padding: 55px 20px 15px 20px;
	}

	#projects .projectImages img {
		padding: 0px 0px 10px 0px;
		display: block;
		width:100%;
		height:auto;
	}

	#projects #projectImageList {
		padding: 0;
		margin: 0;
	}

	#projects #projectImageList li {
		padding-bottom: 20px;
		float: left;
		display: block;
	}

	/* Project
	-------------------------------------------------- */

	.projectImages > div {
		margin: 10px 0px 10px 0px;
	}

	#project .caption {
		display: inline-block;
		padding-top: 10px;
	}

	.image-container {
		background: #f2f2f2;
	}

	.projectTextContainer {
		display: block;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.projectTextContainer .projectTextBlock:first-of-type {
		padding-bottom: 20px;
	}

	div.col-sm-3.col-xs-6.projectTextBlock {
		display: block;
		vertical-align: none;
		float: none;
	}


	/* Footer
	-------------------------------------------------- */

	/* ========== */

	.projectFooter .projectThumbnail {
		display: none;
	}


	.footerNav {
		height: 80px;
	}

	/* ========== */

	.footerNav .next {
		float: right;
		text-align: left;
	}

	.footerNav .next, .footerNav .prev {
		width: 100%;
		height: 80px;
	}

	/* ========== */


	.footerNav .textBlock {
		margin-left: 20px;
		float: left;
		width: auto;
		height: 80px;
	}

	/* ========== */

	.footerNav .arrow {
		width: 60px;
		height: 80px;
		position: relative;
	}

	.footerNav .arrow svg {
		overflow: auto;
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	    fill: #6e6e6e;
	    transition: fill .2s;
	}

	.footerNav .next .arrow svg {
	    -ms-transform: rotate(180deg); /* IE 9 */
	    -webkit-transform: rotate(180deg); /* Safari */
	    transform: rotate(180deg);
	}

	.projectFooter .next:hover {
		padding-right: 0px;
	}


	/* ========== */

	.subFooterNav {
		display: table;
		text-align: right;
		width: 100%;
	}

	.subFooterNav .backToTop {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		width: 20%;
		padding: 0px 20px 0px 0px;
		cursor: pointer;
	}
	.subFooterNav .backToTop svg {
		display: inline-block;
		}

	.creditContainer {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		height: 80px;
		width: 80%;
		margin-right: inherit;
		padding-left: inherit;
		text-align: left;
	}

	.credit {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		padding-left: 20px;
		width: auto;
		height: 100%;
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
	}

	.credit p {
		position: relative;
		text-align: left;
		display: inline-block;
		left: auto;
		bottom:auto;
		width: auto;
	}
}

@media (max-width: 767px) and (orientation: landscape) {

	.imageGridPanel {
		padding-top: 40px;
	}

	#home .textPanel {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	.menu .active + a {
		border-top: none;
	}

	nav .menu a, nav .menu a.active {
		display: block;
		width: 50%;
		float: left;
		border-top: none;
		border-bottom: 1px solid white;
	}

	.menu a:last-child.active {
		border-bottom: 1px solid white;
	}

	nav .menu a:nth-of-type(1),	nav .menu a:nth-of-type(2), nav .menu a.active:nth-of-type(1),	nav .menu a.active:nth-of-type(2) {
		border-top: 1px solid white;
	}

	nav .footer .row div:nth-of-type(3) {
		padding-left: 0;
	}

	nav .footer .col-xs-6 {
		width: 50%;
	}

	#home .creditInfo {
		bottom: 0px;
		left: 0px;
	}

}
