* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 100%;
}

.wf-loading {
    visibility: hidden;
}

.wf-active, .wf-inactive {
    visibility: visible;
}

body {
    color: #212121;
}

h1#rs {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

h5 {
    font-size: 0.825em;
}

h6 {
    font-size: 0.75em;
}

a {
    color: #212121;
}

html, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 567px) {
    .section-item-date {
        font-size: .85em;
        margin-top: .15em;
    }
}

@media screen and (max-width: 767px) {
    /*.section-title {
        font-size: 1.33em;
    }*/
    .hidden-md {
        display: none;
    }
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /*min-width: 620px;*/
    max-width: 980px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    /*min-width: 600px;*/
    /*max-width: 960px;*/
}

.section {
    border-top: 1px solid #E0E0E0;
    margin-bottom: 1.75em;
}

body .section:first-child {
    border: none;
    /* margin-top: 2em; */
    /* margin-bottom: 1.5em; */
}

body .section:last-child {
    margin-bottom: 10em;
}


/*body .section:nth-child(2) {
	border-top: 4px solid #9E9E9E;
}*/

.section .section-item:first-child {
    border: none;
}

.section-item {
    /*border-top: 1px solid #E0E0E0;*/
    margin-top: 1.33em;
    margin-bottom: 2em;
    page-break-inside: avoid;
}

.section-title {
    color: #757575;
    margin-top: 1.33em;
    margin-bottom: 0.66em;
}

.section-item-date {
    color: #9E9E9E;
    /*text-align: right;*/
}

.section-item-description-small {
    font-size: 0.825em;
}

.section-item-links, .section-item-links a {
    color: #9E9E9E;
}

#my-name {
    /* margin-bottom: .2em; */
}

@media print {
    body {
        font-size: 9pt;
    }

    @page {
        margin: 0.5in;
    }

    body .section:first-child {
        margin-top: 0em;
    }
}
